@media only screen and (max-width:1004px){
    .item{
        padding: 12px;
    }
}
@media only screen and (max-width:930px){
    .item{
        flex: 0 0 82%;
    }
    .item p{
        font-size: 12px;
    }
    .item a{
        font-size: 12px;
    }
}
@media only screen and (max-width:840px){
    #contact div >img{
        display: flex;
        width: 40%;
        height: 320px;
    }
    #contact ul{
        margin-top: 1px;
    }
    #contact ul li {
        padding-bottom: 1px;
    }
}
@media only screen and (max-width:700px){
    .basic_info div{
        padding: 5px 5px;
    }
    .basic_info{
        font-size: 25px;
    }
    .dev{
        font-size: 13.5px;
        margin-left: 5px;
    }
}
@media only screen and (max-width:640px){
    #contact div:nth-child(2){
        display: flex;
        height: max-content;
    } 
    #contact ul{
        margin: 0px;
        padding-left: 1px;
    }
    .item li{
        padding: 5px;
    }
    .item a{
        font-size: 13.5px;
    }
}
@media only screen and (max-width:624px){
    .name{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width:500px){
    #contact div:nth-child(2){
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    } 
    #contact div >img{
        display: flex;
        flex:1;
    }
    #contact ul li a{
        font-size: 14px;
    }
    #contact ul li a img{
        width: 40px;
    }
    .list ul li a{
        padding:5px;
    }
}
@media only screen and (max-width:393px){
    .raj{
        gap: 5px;
        padding: 1px;
    }
    .list ul li{
        margin: 2px 8px;
    }
}
@media only screen and (min-width:320px) and (max-width:370px){
    .list ul li{
        margin: 2px 3.3px;
    }
}